/*============================================================
 Theme Name: web123-child
 Theme URI: http://www.web123.com.au
 Author: http://www.web123.com.au
 Author URI:
 Version: 1.0
 Description:
 Template: web123
 Text Domain: web123
 ============================================================*/
nav.main_menu > ul > li > a {
  padding: 0 5px;
}
@media screen and (max-width: 1200px) {
  nav.main_menu > ul > li > a {
    padding-top: 55px;
  }
}
.mob_hide {
  display: block;
}
@media screen and (max-width: 800px) {
  .mob_hide {
    display: none;
  }
}
a.nav-link, a.nav-contact {
  padding: 6px 12px;
  margin: 12px;
  color: #fff;
}
a.nav-contact {
  background-color: #f5bf45;
  border: solid 1px #f5bf45;
}
a.nav-contact:hover {
  color: #f5bf45;
  background-color: #fff;
  text-decoration: none;
}
a.nav-link {
  background-color: #6d6e70;
  border: solid 1px #6d6e70;
}
a.nav-link:hover {
  color: #6d6e70;
  background-color: #fff;
  text-decoration: none;
}
.quest_btn a {
  color: #fff;
  padding: 6px 12px;
  background-color: #f5bf45;
  border: solid 1px #f5bf45;
}
.quest_btn a:hover {
  color: #f98d12 !important;
  background-color: #fff;
  text-decoration: none;
}
.quest_btn-white.get-in-touch p {
  padding: 6px 12px;
  background-color: #fff;
  border: solid 1px #fff;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1px;
}
.quest_btn-white.get-in-touch p a {
  color: #f98d12;
}
.quest_btn-white.get-in-touch p a:hover {
  color: #fff !important;
}
.quest_btn-white.get-in-touch p:hover {
  background-color: #f98d12;
}
.quest_btn-white.get-in-touch p:hover a {
  color: #fff;
}
/*body > div.wrapper > div > div > div > div > div > div:nth-child(1) {
 padding-bottom: 420px;
 }*/
@media screen and (max-width: 1024px) {
  body > div.wrapper > div > div > div > div > div > div:nth-child(1) {
    background-position-x: 36%;
  }
}
@media screen and (max-width: 768px) {
  body > div.wrapper > div > div > div > div > div > div:nth-child(1) {
    background-position-x: 29%;
  }
}
@media screen and (max-width: 480px) {
  body > div.wrapper > div > div > div > div > div > div:nth-child(1) {
    background-position-x: 25%;
  }
}
.page-id-4 .banner_copy > div > div > div {
  width: 440px;
  right: 0;
  position: absolute;
  top: 100px;
}
@media screen and (max-width: 1000px) {
  .page-id-4 .banner_copy > div > div > div {
    display: none;
  }
}
.page-id-4 > div.wrapper > div > div > div > div > div > div:nth-child(1) {
  padding-bottom: 420px;
}
.home-course-content p {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.i001-list-item h4 a {
  color: #f98d12;
}
.page-id-12 .left_bar_custom.section_inner {
  padding-top: 50px;
  padding-bottom: 50px;
}
.i001-list-item {
  padding: 20px;
}
.search-no-results .entry {
  margin-top: 150px;
}
@media screen and (max-width: 1024px) {
  .search-no-results .entry {
    margin-top: 140px;
  }
}
@media screen and (max-width: 999px) {
  .search-no-results .entry {
    margin-top: 30px;
  }
}

nav.mobile_menu ul li a, nav.mobile_menu ul li h3, nav.mobile_menu ul li span.mobile_arrow i, nav.mobile_menu ul li span.mobile_arrow i {
color: #fff!important;
}

.i001-list-wrap p {
      margin: 20px 0;

}

div.custom__blogs_h.grid_section > div.left_bar_custom.section_inner > div:nth-child(1) > div > p > a{
  background-color: #f98d12 !important;
  border-radius:3px !important;
  color:#FFF !important;
  font-size:15px !important;
  margin-top:25px !important;
  padding:10px !important;

}
