.og-image.item img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.og-images .item {
	border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    float: left;
    height: 40px;
    margin-right: 10px;
	margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 40px;
}
.og-images .item:hover {
	background: #f0f0f0;
}
.item.og-image a.remove-action {
	position: absolute;
	top: 0;
	background: rgba(0,0,0,0.8);
	color: white;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
    line-height: 42px;
	height: 40px;
	width: 40px;
	opacity: 0;
	left: 0;
	transition: all 0.25s ease 0s;
}
.item.og-image:hover a.remove-action {
	opacity: 1;
}
.fields.og-images .add-action-wrapper.item {
    background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	box-shadow: none;
}
.fields.og-images .add-action-wrapper a {
	color: #888888;
    font-size: 16px;
    line-height: 42px;
    text-decoration: none;
	height: 40px;
	width: 40px;
	display: block;
}

.fields.og-images .add-action-wrapper a:hover {	 	 	 	     	 	  	 	
	color: #333;
	background: #ffffff;
}


/* 696318-1542011216-au */